/*=== Default Form ===*/

@function form-control-height() {
  @return calc(2.25rem + 27px);
}
.form-control,
.input-text {
  height: form-control-height();
  padding: 14px 30px;
  outline: 0;
  background-color: #f4f5f8;
  border: 1px solid #f4f5f8;
  color: #686a6f;
  font-size: 0.9rem;
  width: 100%;
  &::placeholder {
    color: #686a6f;
    opacity: 1;
  }
  &:-ms-input-placeholder {
    color: #686a6f;
  }
  &::-ms-input-placeholder {
    color: #686a6f;
  }
  &:focus {
    border-color: var(--theme-color1);
    box-shadow: none;
  }
}
textarea {
  &.form-control {
    height: auto;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.contact-form {
  label {
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
    font-weight: 500;
    display: block;
    letter-spacing: 1px;
    margin-bottom: 15px;
  }
  .form-group {
    label {
      font-size: 16px;
      line-height: 20px;
      color: #ffffff;
      font-weight: 500;
      display: block;
      letter-spacing: 1px;
      margin-bottom: 15px;
    }
  }
}
.range-slider-one {
  margin-bottom: 25px !important;
  .range-slider {
    background: #ffffff;
    .range-slider__range {
      background: var(--bg-theme-color3-light);
    }
    .range-slider__thumb {
      background: #ffffff;
      border: 3px solid var(--border-theme-color3-light);
    }
  }
}
